# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Python cache
# ===============================
_pycache_/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
venv/
env/
.venv/

# ===============================
# Datasets & Images (VERY IMPORTANT)
# ===============================
data/
dataset/
datasets/
images/
*.jpg
*.jpeg
*.png
*.bmp
*.tiff

# ===============================
# Models & Weights
# ===============================
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.joblib
*.pkl

# ===============================
# Reports & Documents
# ===============================
*.pdf
*.doc
*.docx

# ===============================
# Logs & temp files
# ===============================
*.log
*.tmp

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Zip / Archives
# ===============================
*.zip
*.rar
*.7z
*.mp4
*.db

# ===============================
# Ignore trained output folders
# ===============================
outputs/
results/
saved_models/
checkpoints/